@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    font-family: 'Courier New', Courier, monospace;
    color: #2e2e2e;
    background-color: grey;
    max-width: 400px;
    min-width: 360px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "navbar header"
    "navbar container";
}

.container{
    grid-area: container;
    background-color: white;
}

header{
    grid-area: header;

    font-family: 'Fredoka One', cursive;
    font-size: 14px;
    color: brown;
    background-color: white;
}
header .main-title{
    text-align: center;
}

.navbar{
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background-color: brown;
    padding: 50px 0px 50vh;
}
.navbar a{
    font-size: 26px;
    color: white;
    text-decoration: none;
}
.navbar .burguer.active{
    color: #eecb55;
}
.navbar .pizza.active{
    color: #eecb55;
}
.navbar .drink.active{
    color: #a2e5cf;
}
.navbar .purchase_cart.active{
    color: #eecb55;
}

.container{
    padding: 20px 20px 50px;
}
.selected-food{
    padding: 30px 20px;
    background-color: #e7e7e7;
    border-radius: 10px 10px 0 0;
}
.selected-food img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #00000081;
}
.cart{
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-color: brown;
    color: white;
    border-radius: 0 0 10px 10px;
    width: 100%;
}
.cart .icon{
    font-size: 28px;
}



/*TITLE AND DESCRIPTION OF ITEMs*/
.selected-food .food-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    font-size: 20px;
}
.selected-food .description{
    text-align: left;
    font-size: 15px;
    margin: 0;
}



/*QUANTITY CONTROLLER AND PRICE*/
.selected-food .price{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 25px auto 0;
    color: #3b9b3b;
}
.selected-food .price::before{
    content: "R$ ";
}
.quantity_controller{
    display: flex; 
    justify-content: center;
    align-items: center;   
    gap: 10px;
    margin: 30px 0 0;
}
.quantity_controller .quantity{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-size: 20px;
}
.quantity_controller .less, .quantity_controller .plus{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 24px;
    width: 26px;
    color: white;
    background-color: brown;
    padding: 0;
    border-radius: 50%;
}
.quantity_controller .less[disabled], .quantity_controller .plus[disabled]{
    background-color: gray;
}


/*GALLERY*/
.food-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;

    padding: 0 10px 30px;


}
.food-gallery img{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #000000a8;
    border-radius: 7px;
    width: 100%;

    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 1s;
    transition: transform 0.5s;
}
.food-gallery img:hover{
    transform: translateY(-3px);
}
@keyframes jumpingImg {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-3px);
    }
}

.selected-food{
    animation: none;
}
.selected-food.opened{
    animation: fadeIn 2s 0s;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




.my-order h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}
.my-order img{
    width: 100px;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 1px #000000a3;
}
.cart-items{
    font-size: 14px;
    padding: 0;
    margin: 0;
}